
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1479303087213'); /* IE9*/
  src: url('iconfont.eot?t=1479303087213#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1479303087213') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1479303087213') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1479303087213#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofang:before { content: "\e600"; }

.icon-list:before { content: "\e660"; }

.icon-prev:before { content: "\e64d"; }

.icon-back:before { content: "\e605"; }

.icon-word:before { content: "\e6e0"; }

.icon-add:before { content: "\e680"; }

.icon-view:before { content: "\e604"; }

.icon-zanting:before { content: "\e96b"; }

.icon-order:before { content: "\e630"; }

.icon-yinliang:before { content: "\e654"; }

.icon-danquxunhuan:before { content: "\e601"; }

.icon-random:before { content: "\e602"; }

.icon-loop:before { content: "\e61b"; }

.icon-next:before { content: "\e603"; }

